<!doctype html>
<html ng-app="todo">
<head>
    <title>Todo App</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../index.css">
</head>
<body>

<div class="todos center" ng-controller="TodoController">

    <input ng-model="currentTodo" id="list-input" placeholder="task"></input>
    <button class="button" ng-click='addTodo(currentTodo)' id="submit">Add</button>

    <ul id="list">

        <li ng-repeat="todo in todos" class="todo" ng-class="{done:todo.done}">
           <img height="20" width="30" ng-show="todo.done" src="../../img/check.png">{{todo.name}}
            <button ng-click="deleteTodo(todo)">Delete</button>
            <button class="done" ng-click="todo.done = !todo.done">
                <span ng-show="todo.done">Not Finished</span>
                <span ng-show="!todo.done" >Finished</span>
            </button>
        </li>

         <!--another way of deleteing would be -->
        <!--<li ng-repeat="todo in todos" ng-click="todos.splice($index,1)">-->
            <!--{{todo}}-->
        <!--</li>-->


    </ul>

</div>
<script src="app.js"></script>
</body>
</html>